<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Let’s Accomplish
            <br />
            It Together
        </h2>
        <p>
            Be part of the solution. Contact D.I.M.E and help us empower the next generation of engineers.
                </p>
        <a href="/contact" class="cs-button-solid">Get a Fast, Free Estimate</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/accomplish.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/accomplish.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/accomplish.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>