---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/about.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/about.jpg" alt="about us" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/about_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about_1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about_1.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/about_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about_2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about_2.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Who We Are: Driving Diversity in Engineering</h2>
                <p class="cs-text">
                    D.I.M.E is dedicated to fostering a more inclusive and equitable engineering industry by empowering underrepresented minority engineers. Our mission is to provide a platform where aspiring engineers can thrive, connecting them with mentorship, resources, and networking opportunities that pave the way for long-term success. We are committed to breaking down the barriers that minority students face in engineering, promoting diversity at every level, and ensuring that talented individuals from all backgrounds are given the chance to make a significant impact in the field.
                </p>
                <p class="cs-text">
                    At D.I.M.E, we actively support initiatives that drive positive change, including mentorship programs, advocacy efforts, and strategic networking opportunities. Through our efforts, we strive to not only help individual engineers succeed but also to shift the industry toward greater representation and inclusivity. By collaborating with organizations, universities, and industry leaders, we are building a community that uplifts and supports the next generation of diverse engineers, helping to shape a future where diversity is celebrated, and opportunities are equal for all.                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Innovation thrives when diverse voices lead. At D.I.M.E, we’re dedicated to empowering every engineer to shape a more inclusive future.                    </p>
                    <span class="cs-name">Michael Abebe</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}