---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    D.I.M.E is an inspiring organization committed to diversity in engineering. Their mentorship and networking efforts help underrepresented engineers thrive. The upcoming June meeting is a great chance to get involved and make a difference. Excited to be part of this impactful initiative!
                </p>
                <div class="star-group">
                    <span class="name">John M.<span class="desc">Senior Engineer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    D.I.M.E’s mission to foster inclusion in engineering is truly commendable. They provide vital mentorship and networking for minority engineers. Looking forward to the June meeting and contributing to their important work in creating opportunities for underrepresented talent.
                </p>
                <div class="star-group">
                    <span class="name">Lisa T.<span class="desc">Engineering Student</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    D.I.M.E is making engineering more inclusive through mentorship and advocacy. Their initiatives provide real opportunities for minority engineers. The June meeting is a great chance to engage and support their mission of shaping a diverse engineering future.
                </p>
                <div class="star-group">
                    <span class="name">Alex L.<span class="desc">Industry Mentor</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    D.I.M.E is actively creating change in engineering by empowering minority talent. Their mentorship and networking programs provide crucial support. Excited to attend their June meeting and help advance their impactful diversity efforts.
                </p>
                <div class="star-group">
                    <span class="name">Arrieana M.<span class="desc">Diversity & Inclusion Advocate</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    D.I.M.E ensures fair opportunities for underrepresented engineers through mentorship and networking. Their advocacy efforts are making a difference. Looking forward to the June meeting to engage with their vision and contribute to positive change.
                </p>
                <div class="star-group">
                    <span class="name">Leo N.<span class="desc">Junior Engineer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Supporting D.I.M.E’s mission is an honor! Their dedication to mentorship and advocacy is shaping a more inclusive engineering field. Excited to join the June meeting and contribute to their vital work in bridging the opportunity gap.
                </p>
                <div class="star-group">
                    <span class="name">Brian A.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}